<div id="team">
  <div class="team-content">
  <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline text-center">
      <% ["trembylene", "michaelvitello"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle" %>
          <h2><%= gh_username.capitalize %></h2>
          <p>
            <% link_to "https://github.com/#{gh_username}", target: "_blank" do %>
              <i class="fa fa-github"></i> <%= gh_username %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<!-- link_to gh_username["name"], "https://api.github.com/users/#{gh_username}"
 -->
<!-- gh_username.each do |user|
"https://api.github.com/users/#{user}" -->

